body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
  line-height: 1.6;
}

.logo {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}



.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  color: #2c3e50;
}

h2 {
  color: #34495e;
  margin-top: 20px;
}

p {
  margin: 10px 0;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.social-links {
  margin-top: 20px;
  text-align: center;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
}

.blessing {
  text-align: center;
  margin-top: 30px;
  font-size: 1.2em;
  color: #27ae60;
}